certifi==2023.11.17
charset-normalizer==3.3.2
cloudscraper==1.2.71
idna==3.6
jieba==0.42.1
pixivpy3==3.7.4
pyparsing==3.1.1
requests-toolbelt==1.0.0
requests==2.31.0
typing_extensions==4.9.0
urllib3==2.1.0
wordcloud==1.9.2
