name: Docker Image CI

on:
  push:
    branches: ["main"]

jobs:
  check:
    name: Check changed files
    outputs:
      run_job: ${{ steps.check_files.outputs.run_job }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: check files
        id: check_files
        run: |
          echo "=============== list changed files ==============="
          git diff --name-only ${{ github.event.before }} ${{ github.sha }}

          echo "========== check paths of changed files =========="
          git diff --name-only ${{ github.event.before }} ${{ github.sha }} > files.txt
          while IFS= read -r file
          do
            echo $file
            if [[ $file == "src/"* || $file == "fonts/"* ]]; then
              echo "::set-output name=run_job::true"
              break
            else
              echo "::set-output name=run_job::false"
            fi
          done < files.txt
  build:
    name: Build docker image
    needs: check
    if: needs.check.outputs.run_job == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v3.0.0
      - uses: docker/login-action@v3.0.0
        with:
          username: cracktc
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v5.0.0
        with:
          context: .
          push: true
          tags: cracktc/qwordcloud:latest
