name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3.0.0
      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: cracktc
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker Build & Push
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          push: true
          tags: cracktc/qwordcloud:latest
